name: Daily Sync
on:
  schedule:
    - cron: '0 11 * * *' # 6:00 AM EST
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install -r requirements.txt
      - name: Run Update
        env:
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
        run: python main.py
      - name: Deploy
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data.json
          git commit -m "Sync: $(date)" || echo "No changes"
          git push
